span.stars,
span.stars span {
    display: block;
    background: url(/images/star-solid.svg) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}


#page-container {
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

/*leaf on card*/
.leaf-small {
    width: 12%;
    right: 4.5%;
    top: 2.5%;
}

/*leaf big*/
.leaf-big {
    width: 9%;
    position: absolute;
    top: 5%;
    right: 15.5%;
}

/*dish in cart*/
.dish-cart img {
    max-width: 100px;
    height: 100%;
    object-fit: cover;
}

.dish-cart .btn-group {
    max-height: 40px;
}

.btn-group .amount {
    opacity: 1;
}

/*required attributes*/
.form .required .form-label:after {
    content: "*";
    color: red;
}